.u-tags {
  background-color:MediumSeaGreen;
  border:solid;
}

.u-text-1 {
  font-size: 3rem;
  margin: -54px 519px 0 0;
  color: white;
}

.u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 40px 519px 0 0;
  color: yellow;
}

.u-text-3 {
  margin: 20px 519px 0 0;
   color: #888844;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.u-image
{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  min-height: 613px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
